.pages {
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.write_button {
    background-color: #475d9f;
    border: 1px solid #323f6b;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 15px;
}

.edit {
    position: absolute;
    right: 15px;
    top: 15px;
}