<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Facebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/play2.css">
</head>
<body>
    <div class="header">
        <div class="header_btnLeft">Button1</div>
        <div class="header_search">
            <input type="text" class="header_searchBar" placeholder="Search">
        </div>
        <div class="header_btnRight">Button2</div>
    </div>
    <div class="content">
        Post
    </div>
    <div class="footer">
        <div class="footer_tab">Menu1</div>
        <div class="footer_tab">Menu2</div>
        <div class="footer_tab">Menu3</div>
        <div class="footer_tab">Menu4</div>
    </div>
</body>
</html>