<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/play.css">
</head>
<body>
    <div class="header">
        <img src="/static/instagram.png" alt="logo" class="img_insta">
    </div>
    <div class="content">
        <div class="name">Son Heung Min</div>
        <img src="/static/son.jpg" alt="son" class="son">
        <div class="like">
            <img src="/static/like.png" alt="like" class="img_like">100 Likes
        </div>
    </div>
</body>
</html>