<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>뉴스피드 | Facebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/new.css?ver=1">
</head>
<body>
    <div class="header">
        <div class="header_btnLeft">
                <a href="/new"><img src="/static/ic_pencil.jpg" alt="post" style="width: 30px;"></a>
        </div>
        <div class="header_search">
            <input type="text" class="header_searchBar" placeholder="Search">
        </div>
        <div class="header_btnRight">
            <img src="/static/ic_info.jpg" alt="info" style="width: 30px;">
        </div>
    </div>
    <div class="container">
        <div class="form_box">
            <form method="POST">
                {% csrf_token %}
                <h3>"{{page.name}}" 페이지를 삭제하시겠습니까?</h3>
                <button class="write_button">삭제</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="footer_tab">
            <a href="/"><img src="/static/ic_feed.jpg" alt="feed" style="width: 30px;"></a>
        </div>
        <div class="footer_tab">
            <a href="/pages/"><img src="/static/ic_globe.jpg" alt="globe" style="width: 30px;"></a>
        </div>
        <div class="footer_tab">
            <img src="/static/ic_person.jpg" alt="person" style="width: 30px;">
        </div>        
        <div class="footer_tab">
            <img src="/static/ic_etc.jpg" alt="etc" style="width: 30px;">
        </div>
    </div>
</body>
</html>